

.bg-cover { position: fixed; width: 100%; height: 100%; background-image: url("../image/bj_cover.jpg"); background-size: cover; background-position: top center;}



/** 头部 **/
.header { z-index: 2;width: 100%;  min-height: 400px;position: relative;display: block;}
.navbar {position: fixed;right: 0px; float: right;top: 40px;padding-right: 90px;text-align: center;background-color: rgba(51,51,51, 0.5);z-index: 288;}
.navbar li { display: inline-block; height: 50px; width: 80px;line-height: 50px;font-size: 16px;font-weight: bold;}
.navbar li a { color: #bebbaa;}
.navbar li.active a { color: #fff;}

.navbar li:hover a::before { content: '[ ';}
.navbar li:hover a::after { content: ' ]';}


.header-icon {width:100%; position: relative;display: inline-block;z-index: 3;padding-top: 20px;text-align: center; margin: 0 auto;}
.header-icon img { width: 100px;}
.header-icon h3 {color: #fff;}

/** 头部动画 **/
.animation-wrapper { width: 100%; height: 50%; position: absolute;left: 0px;bottom: 0px;}
.decor { position: absolute; left: 0px; width: 100%; height: 100%;}
.decor.bottom {bottom: -1px;}

.animated {
    animation-duration: 0.3s;
    animation-fill-mode: both
}

.animated .small,
.animated .medium,
.animated .large {
    opacity: 0;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    -ms-transition-property: all;
    transition-property: all
}

.animated .large {
    -webkit-transition-delay: 1s;
    -moz-transition-delay: 1s;
    -o-transition-delay: 1s;
    -ms-transition-delay: 1s;
    transition-delay: 1s;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    -ms-transition-duration: 1s;
    transition-duration: 1s
}

.animated .medium {
    -webkit-transition-delay: 1.35s;
    -moz-transition-delay: 1.35s;
    -o-transition-delay: 1.35s;
    -ms-transition-delay: 1.35s;
    transition-delay: 1.35s;
    -webkit-transition-duration: .75s;
    -moz-transition-duration: .75s;
    -o-transition-duration: .75s;
    -ms-transition-duration: .75s;
    transition-duration: .75s
}

.animated .small {
    -webkit-transition-delay: 1.5s;
    -moz-transition-delay: 1.5s;
    -o-transition-delay: 1.5s;
    -ms-transition-delay: 1.5s;
    transition-delay: 1.5s;
    -webkit-transition-duration: .5s;
    -moz-transition-duration: .5s;
    -o-transition-duration: .5s;
    -ms-transition-duration: .5s;
    transition-duration: .5s
}

.animated.from-bottom .small,
.animated.from-bottom .medium,
.animated.from-bottom .large {
    opacity: 1;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -o-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%)
}

.animated.from-top .small,
.animated.from-top .medium,
.animated.from-top .large {
    opacity: 1;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%)
}

.animated.animation-on .small,
.animated.animation-on .medium,
.animated.animation-on .large {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -o-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%)
}



/** 中间部分 **/
.main { background-color: #fff; position: relative;}
.main .container { padding-bottom: 40px; max-width: 900px;margin: 0px auto; }
.main .container h1  { text-align: center;border-bottom: 1px solid #ddd;padding-bottom: 10px;}
.main .container .content { margin: 10px auto;max-width: 900px; position: relative;}
.main .container .content li{  display: inline-block; width: 25%;float: left; }
.main .container .content li .item {height: 250px; padding: 3px;border: 1px solid #bbb; margin: 5px 6px 10px 6px; }
.content li img { width: 205px;height: 103px; }
.content li h2 { padding-top: 30px; color: #3097d1;font-weight: bold;text-align: center;font-size: 20px;}
.content li .desc {font-size: 14px;color: #666666;width: 95%; line-height: 20px; margin: 8px; overflow: hidden; display: -webkit-box;-webkit-box-orient: vertical; -webkit-line-clamp: 3; }


.main .container .post {max-width: 800px;margin: 0 auto;}

/** 底部 **/
.footer { 	padding: 300px 0 80px; position: relative; width: 100%; display: block; text-align: center; }
.footer .animation-wrapper { top: 0; }


.footer .link-list { width: 100%; margin: 60px 0; position: relative; z-index: 2;text-align: center;}
.footer .link-list li { display: inline-block;}
.socialicon { width: 72px;height: 72px;margin: 0 5px;}
.socialicon i { font-size: 60px;}

.cr { color: #fff; }
