@charset "utf-8";
/** 清除内外边距 **/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td, img,figure,figcaption {border: medium none; margin: 0; padding: 0;}

/** 设置默认字体 **/
html, body {-webkit-text-size-adjust: none;font-family: "Microsoft YaHei", Arial;-webkit-font-smoothing: antialiased;-moz-font-smoothing: antialiased;font-smoothing: antialiased; font-size:14px;color: rgba(2, 0, 0, 0.6); width: 100%; height: 100%;}
body { background-attachment: fixed;}

/** 设置表单元素**/
button, input, select, textarea {font-family: "Microsoft YaHei", Arial;-moz-appearance: none;-webkit-appearance: none;appearance: none;vertical-align: middle; outline:none;}

/** 重置图片元素 **/
img {border: 0px; vertical-align: middle; -ms-interpolation-mode: bicubic;}

/** 重置表格元素 **/
table {border-collapse: collapse;border-spacing: 0;}

/** 重置超链接元素 **/
a,.i-service li a .more{ transition:0.4s cubic-bezier(.42,0,.58,1); -webkit-transition:0.4s cubic-bezier(.42,0,.58,1);}
a {text-decoration: none; color: #333;}
a:hover {text-decoration:none; color:#666; will-change: transform;}
a:hover,a:active{outline:none;}


/** 公用的class **/
.hide { display: none;}
.white{ color: #fff;}
.clear { clear: both;}